<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2077.7009697092526!2d-123.10994813448454!3d49.28279765824844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717992b9e9d1%3A0x5b57b34801b2bc12!2sWoodward&#39;s+Building%2C+Vancouver%2C+BC!5e0!3m2!1sen!2sca!4v1484868495178" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>
		<section class="split">
      <section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Location</h3>
					<span>
            <b>{{ site.location }}</b><br />
            {{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}
          </span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Contacts</h3>
          <ul>
            <li><a href="mailto:thecla@sfu.ca">Thecla Schiphorst</a></li>
            <li><a href="mailto:jfrancoi@sfu.ca">Jules Françoise</a></li>
            <li><a href="mailto:mfedorov@sfu.ca">Maria Fedorova</a></li>
          </ul>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
